statemachine/ebs_autoscaling.asl.json
{
  "Comment": "Increase volume and filesystem size when got a disk space alarm.",
  "StartAt": "GetEventData",
  "States": {
    "GetEventData": {
      "Type": "Task",
      "Resource": "${GetEventDataFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "GetVolumeId"
    },
    "GetVolumeId": {
      "Type": "Task",
      "Resource": "${GetVolumeIdFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "GetVolumeDetails-CanModifyVolumeSize"
    },
    "GetVolumeDetails-CanModifyVolumeSize": {
      "Type": "Task",
      "Resource": "${GetVolumeDetailsFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "CanModifyVolumeSize?"
    },
    "CanModifyVolumeSize?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.canModifyVolume",
          "StringEquals": "true",
          "Next": "ModifyVolumeSize"
        }
      ],
      "Default": "SkipModifyVolumeSize"
    },
    "ModifyVolumeSize": {
      "Type": "Task",
      "Resource": "${ModifyVolumeSizeFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Wait20Sec"
    },
    "SkipModifyVolumeSize": {
      "Type": "Fail",
      "Cause": "Volume has been modified today!"
    },
    "Wait20Sec": {
      "Type": "Wait",
      "Seconds": 20,
      "Next": "GetVolumeDetails-VolumeModificationState"
    },
    "GetVolumeDetails-VolumeModificationState": {
      "Type": "Task",
      "Resource": "${GetVolumeDetailsFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "CanModifyFsSize?"
    },
    "CanModifyFsSize?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ModificationState",
          "StringEquals": "optimizing",
          "Next": "FsTypeToModify?"
        }
      ],
      "Default": "Wait20Sec"
    },
    "FsTypeToModify?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.fstype",
          "StringEquals": "xfs",
          "Next": "GrowLinuxXfs"
        }
      ],
      "Default": "FsNotSupport"
    },
    "GrowLinuxXfs": {
      "Type": "Task",
      "Resource": "${GrowLinuxXfsFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "End": true
    },
    "FsNotSupport": {
      "Type": "Fail",
      "Cause": "FS type not supported!"
    }
  }
}
