artifacts/c42ac2925e4a9f90c3696e6ff2cde6b3
{
  "Comment": "Increase volume and filesystem size when got a disk space alarm.",
  "StartAt": "LoadEbsAutoScalingInput",
  "States": {
    "LoadEbsAutoScalingInput": {
      "Type": "Task",
      "Resource": "${LoadEbsAutoScalingInputFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "WindowsOrLinux?"
    },
    "WindowsOrLinux?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.metricName",
          "StringEquals": "disk_used_percent",
          "Next": "GetVolumeIdForLinux"
        },
        {
          "Variable": "$.metricName",
          "StringEquals": "LogicalDisk % Free Space",
          "Next": "GetVolumeIdForWindows"
        }        
      ],
      "Default": "AlarmNotSupport"
    },
    "GetVolumeIdForLinux": {
      "Type": "Task",
      "Resource": "${GetVolumeIdForLinuxFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "GetVolumeDetails-CanModifyVolumeSize"
    },
    "GetVolumeIdForWindows": {
      "Type": "Task",
      "Resource": "${GetVolumeIdForWindowsFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "GetVolumeDetails-CanModifyVolumeSize"
    },    
    "GetVolumeDetails-CanModifyVolumeSize": {
      "Type": "Task",
      "Resource": "${GetVolumeDetailsFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "CanModifyVolumeSize?"
    },
    "CanModifyVolumeSize?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.canModifyVolume",
          "StringEquals": "true",
          "Next": "ModifyVolumeSize"
        }
      ],
      "Default": "SkipModifyVolumeSize"
    },
    "ModifyVolumeSize": {
      "Type": "Task",
      "Resource": "${ModifyVolumeSizeFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Wait20Sec"
    },
    "SkipModifyVolumeSize": {
      "Type": "Fail",
      "Cause": "Volume has been modified today!"
    },
    "Wait20Sec": {
      "Type": "Wait",
      "Seconds": 20,
      "Next": "GetVolumeDetails-VolumeModificationState"
    },
    "GetVolumeDetails-VolumeModificationState": {
      "Type": "Task",
      "Resource": "${GetVolumeDetailsFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "CanModifyFsSize?"
    },
    "CanModifyFsSize?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ModificationState",
          "StringEquals": "optimizing",
          "Next": "FsTypeToModify?"
        }
      ],
      "Default": "Wait20Sec"
    },
    "FsTypeToModify?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.metricName",
          "StringEquals": "disk_used_percent",
          "Next": "GrowLinuxXfs"
        },
        {
          "Variable": "$.metricName",
          "StringEquals": "LogicalDisk % Free Space",
          "Next": "GrowWindowsNtfs"
        }  
      ],
      "Default": "AlarmNotSupport"
    },
    "GrowLinuxXfs": {
      "Type": "Task",
      "Resource": "${GrowLinuxXfsFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "End": true
    },
    "GrowWindowsNtfs": {
      "Type": "Task",
      "Resource": "${GrowWindowsNtfsFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$",
      "End": true
    },    
    "AlarmNotSupport": {
      "Type": "Fail",
      "Cause": "Alarm type not supported!"
    }
  }
}